<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
  <%= link_to "GS", "/", class: "logo-gab"  %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" onClick="document.location.reload(true)">
        <%= link_to "home", "#", class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to "about", "#", class: "nav-link" %>
      </li>
      <li class="nav-item" onClick="document.location.reload(true)">
        <%= link_to "projects", "#projects",class: "nav-link", id:  "reload" %>

      </li>
       <li class="nav-item">
        <%= link_to "contact", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>


